body{
    border-spacing:15px;
    padding:5px;
    margin:0;
    background-color:white;
}
.wrapper
{
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
}
.column{
  padding:0px;
}
.column .text .center img{
  width:50px;
  height:60px;
  padding:2px;
}
.wrapper .row .column img{
  width:400px;
  height:600px;
}
.wrapper .row .column2 .text  img{
  display:center;
  width:120px;
  height:60px;
  padding:2px;
}
.wrapper .row .column2{
  border:1px solid black;
  width:360px;
  height:380px;  
    
}
.wrapper .row .column .text input{
  display:center;

}
.wrapper .row .column2 .center{
  border:1px solid black;
  width:360px;
  height:400px;    
}
.wrapper .row .column2 .text .display{
  text-align: center;    
}

input{
  width:300px;
  height:40px;
  display:center;
}


button
{
  background-color: blue;
  cursor: pointer;
  width:310px; 
  height:40px; 
  padding:2px; 
  font-size: 15px;
  background-color:cornflowerblue;
  border-radius:7px;border-style:None;
  color: white;

}
.button-container
{
  display: flex;
  align-content: center;
  justify-content: center;
}
button:hover
{
  filter:brightness(110%);
}
.option
{
  color:grey;
  padding:1px;
  margin-left:25px;
  margin-right: 25px;
  font-weight: bold;
  position:relative;
}
.option:before
{
  position:absolute;
  content:'';
  width:40%;
  height:1px;
  background: #b6b6b6;
  left:0;
  top:50%;
  transform: translateY(-40%);
}
.option:after
{
  position:absolute;
  content:'';
  width:40%;
  height: 1px;
  background: #b6b6b6;
  right:0;
  top:50%;
  transform: translateY(-40%);
}
.border{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width:10px;
  height:50px;
}
.fblink
{
  margin-top:15px;
  width:100%;
}
.fblink span{
  font-size: 18px;
  color:white;
  margin-right:5px;
  border-radius: 10%;
}
.fblink a{
  text-decoration: none;
  font-weight: bold;
  color:#3B5998;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  width:15px;
  height:15px;
}
.forget-id{
  margin:15px;
}
.forget-id a{
  text-decoration: none;
  font-weight: 50px;
  color:#3b4198d7;
  font-size:15px;
}
.signup
{
  position:relative;
  border:1px solid black;
  border-radius:2px;
  padding-top: 5px;
  width:360px;
  height:60px;
  justify-content: center;
  display:flex;
  align-items: center;
}
  
.signup a{
    text-decoration: none;
    margin-left:2px;
    color:#008aff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.h3
{
  display:center;
  justify-content: center;
}


.text{
    font-family: sans-serif;
    display:center;
    justify-content: center;
    align-items: center;
}
img{
    float:center;
    padding-right:0px;
}
.center{
    width:300px; 
    height:380px;
    padding:15px;
    border:1px solid grey;
}
.display{
  display: center;
  justify-content: center;
}  
.column1 img{
  border-radius: 10px;

}
.column3 img{
  border-radius: 10px;
}